<% include ./partials/header %>

<div class="jumbotron gra">
    <div class="container">
        <h2>Get the items you actually want</h2>
        <hr>
        <h4 style="padding-bottom: 1rem">Play, win and have fun getting the most popular cards</h4>
        <div class="game1">
            <button class="btn">
                I want to do some more
            </button> 
        </div>
        <div class="game">
            <button class="btn">
              Create a game
            </button>
        </div>
    </div>
</div>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<% include ./partials/footer %>