<% include ./partials/header %>

<div class="containe">

  <div class="left" onclick="location.href='/gra/'">
    <div class="content">
      <h4 class="h4top">
        Do you think the reflex is your strong point? Do you like to compete with others?
      </h4>
      <h1>Golden Strike</h1>
      <h4 class="h4down">
        &mdash; Show your skills and be invincible &mdash;
      </h4>
      <br>
      <a class="btn" href="/gra">
        PLAY AND WIN!
      </a>
    </div>
  </div>  
  
  <div class="right">
    <div class="content">
      <h4 class="h4top">
        Do you want to test your skills or improve your reflexes?
      </h4>
      <h1>Golden Strike Free</h1>
      <h4 class="h4down">
        &mdash; Train to be the best of the best &mdash;
      </h4>
      <br>
        <a class="btn" href="/">
          LETS GO !
        </a>
    </div>
  </div>
  
</div>

<% include ./partials/footer %>