<% include ./partials/header %>

<div class="containe">
  
  <div class="left">
    <div class="content">
      <h1>Nazwa Gry</h1>
      <h4>
        Refleks to Twoja mocna strona?
      </h4>
      <a class="btn" href="/gra">
        Graj i wygrywaj!
      </a>
    </div>
  </div>
  
  <div class="right">
    <div class="content">
      <h1>Potrzebujesz trenignu?</h1>
        <a class="btn" href="/">
          LETS GO !
        </a>
    </div>
  </div>
  
</div>

<% include ./partials/footer %>