<% include ./partials/header %>
<body class="test">
<div class="containe">
    <div class="one">
      <div class="content">
          <h1>Nazwa Gry</h1>
          <h4>
            Refleks to Twoja mocna strona?
          </h4>
          <a class="btn" href="/gra">
              Graj i wygrywaj!
          </a>
      </div>
    </div>
    <div class="two">
      <div class="content">
        <h1>Potrzebujesz trenignu?</h1>
          <a class="btn">
              LETS GO !
          </a>
      </div>
    </div>
  </div>
</body>

<% include ./partials/footer %>