<% include ./partials/header %>

<div class="uu">
    <div class="oo">
            
    <h3 class="h3faq">Do you have any questions? We can help!</h3>
    <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <div class="panel-heading" role="tab" id="one">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Pytanie 1
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="one">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
    <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="two">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Pytanie 2
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="two">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
      <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="three">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Pytanie 3
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="three">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
      <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="four">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Pytanie 4
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="four">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
      <!-- end of panel -->
        <div class="panel">
            <div class="panel-heading" role="tab" id="five">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Pytanie 5
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="five">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
      <!-- end of panel -->
    </div>
    <!-- end of #accordion -->


    </div>
    <div class="oo">
<h3 class="h3faq">Do you have any questions? We can help!</h3>
    <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <div class="panel-heading" role="tab" id="six">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Pytanie 6
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="six">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
    <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="seven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Pytanie 7
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seven">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
      <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="eight">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Pytanie 8
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="eight">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
      <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="nine">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Pytanie 9
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nine">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
      <!-- end of panel -->
        <div class="panel">
            <div class="panel-heading" role="tab" id="ten">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        Pytanie 10
                    </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ten">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit.
                </div>
            </div>
        </div>
      <!-- end of panel -->
    </div>
    <!-- end of #accordion -->
    </div>
</div>

<% include ./partials/footer %>