<% include ../partials/header %>

<div class="viewgame">

    <div class="jumbotron showgame">
        <h2 class="h2int">
            Instruction
        </h2>
        <p style="text-align:center">
            Lorem ipsum dolor sit amet, at magna possim nam, ei accusata splendide quo, id sea etiam mazim quaeque. Eum no mucius tritani fabellas. Ea mel viris sadipscing, in doctus dissentiet nec. Sit et intellegat expetendis. Mei ea wisi rebum summo, in duo amet copiosae vulputate, id eum malis denique.
        
            Erant utinam atomorum sit an. Consequat suscipiantur ei vis, at suscipit scribentur pri, cu his dolore graecis. Est ea viris deseruisse contentiones. Ius in agam audire, has dicat fierent et. Modus electram vis eu, cu mei offendit scribentur.
                    
            Quo cu possim commune dissentiunt. In his utamur oportere, vix ea simul populo senserit. Mei dicant omittantur no, usu ad odio epicurei, harum vivendum his eu. Vide putant no duo, luptatum corrumpit in mea.
                        
            Pri illud mucius at, ad virtute dolorum nam. Hinc eleifend mea ad, eu porro posidonium voluptatibus pro. At discere perpetua gloriatur eam, prompta inciderint theophrastus an eos. Vis paulo fabellas intellegebat ut, per at viris laudem mnesarchum, eu sea oratio fabulas.
                    
            Summo senserit consequuntur usu et, erat augue contentiones vel ex. Ut sanctus percipit contentiones est, tota rebum his et. Id pro ridens noluisse, per debet quaestio an. His facer iusto solet et. No nam nemore virtute prodesset.
        </p>
        <h2 class="h2int">
            Good Luck!
        </h2>
    </div>
   
        
    <div class="contentgame">
        <div class="main">
            <div class="report">
                <button type="button" class="btn btn-danger">Report</button>
            </div>
            <div class="brand">
                <h1>Golden Strike</h1>
            </div>
        </div>
                
        <div class="infogame">
            <div class="container">
                <div class="gameleave">
                    <div class="avatar">
                        <span class="beforeavatar">
                            <img class="empty" src="https://www.goldenfate.net/template/default/gfx/avatar.png" alt="Gustav">
                       </span>
                    </div>
                    <div class="playerprice">
                        <div class="pricetext">
                            <span>
                            Nick Name
                        </span>
                        <span>
                            1.00 $
                        </span>
                        </div>
                    </div>
                   <a class="button" href="/">
                      leave game
                    </a> 
                </div>
                            
                <div class="gamemid" >
                    <a class="place" href="/">
                        <span>
                            Lorem ipsum dolor sit amet
                            <br>
                            Est ea viris deseruisse contentiones.
                        </span>
                    </a>
                </div>
                            
                <div class="gamejoin">
                    <div class="avatar">
                        <span class="beforeavatar">
                            <img class="empty" src="https://www.goldenfate.net/template/default/gfx/avatar.png" alt="Gustav">
                       </span>
                    </div>
                    <div class="playerprice">
                        <div class="pricetext">
                            <span>
                            Nick Name
                        </span>
                        <span>
                            1.00 $
                        </span>
                        </div>
                    </div>
                    <a class="button" href="/">
                        join game
                    </a> 
                </div>
            </div>
        </div>
                
        <div class="gameresult">
            <div class="container">
                <h3 class="saving" style="text-align:center">Waiting for opponents<span>.</span><span>.</span><span>.</span></h3>
                <table class="tablegame">
                    <tbody>
                        <tr class="result">
                            <th class="name">Łukasz</th>
                            <th class="score">1</th>
                            <th class="score">2</th>
                            <th class="score">3</th>
                            <th class="score">4</th>
                            <th class="score">5</th>
                        </tr>
                        <tr class="result">
                            <th class="name">Łukasz</th>
                            <th class="score">1</th>
                            <th class="score">2</th>
                            <th class="score">3</th>
                            <th class="score">4</th>
                            <th class="score">5</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                   
              
        
    </div>
        
    <div class="jumbotron showgame bottom">
        <h2 class="h2int">
            Instruction
        </h2>
        <p style="text-align:center">
            Lorem ipsum dolor sit amet, at magna possim nam, ei accusata splendide quo, id sea etiam mazim quaeque. Eum no mucius tritani fabellas. Ea mel viris sadipscing, in doctus dissentiet nec. Sit et intellegat expetendis. Mei ea wisi rebum summo, in duo amet copiosae vulputate, id eum malis denique.
        
            Erant utinam atomorum sit an. Consequat suscipiantur ei vis, at suscipit scribentur pri, cu his dolore graecis. Est ea viris deseruisse contentiones. Ius in agam audire, has dicat fierent et. Modus electram vis eu, cu mei offendit scribentur.
                    
            Quo cu possim commune dissentiunt. In his utamur oportere, vix ea simul populo senserit. Mei dicant omittantur no, usu ad odio epicurei, harum vivendum his eu. Vide putant no duo, luptatum corrumpit in mea.
                        
            Pri illud mucius at, ad virtute dolorum nam. Hinc eleifend mea ad, eu porro posidonium voluptatibus pro. At discere perpetua gloriatur eam, prompta inciderint theophrastus an eos. Vis paulo fabellas intellegebat ut, per at viris laudem mnesarchum, eu sea oratio fabulas.
                    
            Summo senserit consequuntur usu et, erat augue contentiones vel ex. Ut sanctus percipit contentiones est, tota rebum his et. Id pro ridens noluisse, per debet quaestio an. His facer iusto solet et. No nam nemore virtute prodesset.
        </p>
        <h2 class="h2int">
            Good Luck!
        </h2>
    </div>
  
</div>

<% include ../partials/footer %>