body{
    background: url('https://www.goldenfate.net/template/default/gfx/background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 5.5rem;
    padding-bottom: 3.5rem;
    overflow-y:scroll;
    padding-right: 0 !important;
    position: relative;
    margin: auto;
}

::-webkit-scrollbar{
    width: 4px;
    background: linear-gradient(to bottom, #f2994a, #f2c94c);
}

::-webkit-scrollbar-thumb{
    background-color: red;
}

.button{
    border: 5px solid #ebebaf30;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    width: 230px;
    height: 50px;
    color: black;
    content: "";
    padding: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(255,232,173,1) 0%, rgba(255,232,173,1) 23%, rgba(230,170,30,1) 77%, rgba(230,170,30,1) 100%);
    transition: all 1000ms ease-in-out;
}

.button.all{
    min-width: 100%
}

.button:hover{
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition: all 1.4s ease;
    color: black;
    text-decoration: none;
    background: linear-gradient(to bottom, rgba(230,170,30,1) 0%, rgba(230,170,30,1) 23%, rgba(255,232,173,1) 77%, rgba(255,232,173,1) 100%);
}
.navbar{
    padding-right: 16px !important;
}

/*header*/

.navbar-dark .navbar-brand{
    left: 50%;
    text-align: center;
    display: block;
    transform: translate(-50%);
    position: relative;
    font-family: "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #3d3d3d;
    text-shadow: 
      	0 -1px 0 #858585,
        0 1px 10px rgba(0,0,0,.6),
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.2),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 7px 10px rgba(0,0,0,.25),
        0 15px 10px rgba(0,0,0,.2),
        0 25px 15px rgba(0,0,0,.15);
}

.navbar-dark .navbar-nav .nav-link{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: gold;
}

.navbar-collapse{
    margin-left: -10.5rem;
    margin-right: 5rem;
}

.show{
    margin-left: auto;
}

.bg-dark{
    min-height: 5.5rem;
    border-image: linear-gradient(to left, yellow, red, yellow);
    border-image-slice: 1;
    border-bottom: 1px solid;
    position: fixed;
    background-image: url("https://www.goldenfate.net/template/default/gfx/bg-pattern-big.jpg")
}

/*footer*/

.footer{
    background-image: url("https://www.goldenfate.net/template/default/gfx/bg-pattern-big.jpg");
    border-top: solid 1px transparent;
    border-image: linear-gradient(to left, yellow, red, yellow);
    border-image-slice: 1;
    display: block;
    width: 100%;
    min-height: 3.5rem;
    padding-right: 0px !important;
}

.footer p{
    color: rgb(255, 255, 255);;
    margin: 1rem 1rem;
    font-size: 13px
}

.pleft{
    float:left;
    flex: 0 0 50%;
    max-width: 50%
}

.pright{
    text-align: right;
    float: right;
    flex: 0 0 25%;
    max-width: 25%;
}

/*home page*/

.mycontainer{
    height: 100%;
    min-width: 100%;
    display: flex;
    padding: 5rem;
}

.content{
    display: contents;
    align-items: center;
    justify-content: center;
}

.mycontainer .homeleft, .homeright{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 50px;
}

.homeleft{
    box-shadow: 0px 0px 20px 0px #afdfa6;
    transition: all 1s ease;
    flex: 1;
    height: 100%;
    align-items: center;
    background-image: url('https://www.goldenfate.net/template/default/gfx/background.jpg');
}

.homeleft:hover {
    transition: all 1s ease;
    flex: 1.3 !important;
}

.homeright{
    box-shadow: 0px 0px 20px 0px #afdfa6;
    transition: all 1s ease;
    flex: 1;
    height: 100%;
    align-items: center;
    background-image:  url('https://www.goldenfate.net/template/default/gfx/background.jpg');
}

.homeright:hover {
    transition: all 1s ease;
    flex: 1.3 !important;
}

.homeleft h1{
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 4rem;
    text-align: center;
    color: rgb(253, 211, 101);
    letter-spacing: 5px;
    text-transform: uppercase;
    background: url('http://i.giphy.com/VQ2XbYu2ITUbK.gif');
    background-size: cover;
    background-repeat: norepeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeright h1{
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 4rem;
    text-align: center;
    color: rgb(253, 211, 101);
    letter-spacing: 5px;
    text-transform: uppercase;
    background: url('http://i.giphy.com/VQ2XbYu2ITUbK.gif');
    background-size: cover;
    background-repeat: norepeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeleft h4, .homeright h4{
    text-align: center;
    font-size: 1.3rem;
}

.h4top{
    border-top: 6px double #ba0e0e;
    padding-top: 2rem;
    color: transparent;
    background: -webkit-linear-gradient(bottom, rgba(255,232,173,1) 0%, rgba(255,232,173,1) 0%, rgba(230,170,30,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h4down{
    border-bottom: 6px double #ba0e0e;
    padding-bottom: 2rem;
    color: transparent;
    background: -webkit-linear-gradient(top, rgba(255,232,173,1) 0%, rgba(255,232,173,1) 0%, rgba(230,170,30,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*game list*/

.jumbotron.gra {
    background-color: #191b1af5;
    box-shadow: 0px 0px 20px 0px #afdfa6;
    text-align: center;
    max-width: 82%;
    margin: 1.5rem auto;
    border-radius: 3rem;
    border: 1px solid #ffffff29;
}

.jumbotron h2, h4{
    font-family: 'Playfair Display', serif;
}

.gamefree{
    display: inline-block;
    margin-right: 13rem
}

.game{
    display: inline-block
}

hr{
    background-color: rgba(255,232,173,1);
}

.Rtable {
    border-spacing: 1px 4px;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 5rem;
    display: table;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Rtable-cell {
    flex-grow: 1;
    padding: 0.4rem 0.2rem;
    overflow: hidden; 
    list-style: none;
    border-radius: 5px;
}
 
.Rtable-cell.middle{
    font-size: 23px;
    width:30%;
}
 
.joingame{
    background: url('http://i.giphy.com/VQ2XbYu2ITUbK.gif');
    background-size: cover;
    background-repeat: norepeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Rtable-cell.p{
    width: 30%
}

.Rtable-cell.left{
    width: 40%
}

.tablelist{
    background-color: #191b1af5;
    cursor: pointer;
    color: white;
    border: solid 4px #94767652;
    box-shadow: inset 0 0 8px #afdfa6;
    height: 3.5rem;
}

.tablelist:nth-child(even) {
    background-color: #fffffff5;
    color: black
}

tr.tablelist:hover{
    color: black;
    background: linear-gradient(to bottom, rgba(230,170,30,1) 0%, rgba(230,170,30,1) 23%, rgba(255,232,173,1) 77%, rgba(255,232,173,1) 100%);
}

th{
    text-align: center
}

/*widok gry*/

/*.viewgame{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}*/

.jumbotron.showgame{
    margin: 5px 5px 61px 5px;
    min-height: 98.5%;
    width: 25%;
    float: left;
    background: #191b1af5;
    box-shadow: 0px 0px 20px 0px #afdfa6;
   
}

.jumbotron.showgame.bottom{
    display: none;
}

.h2int{
    text-align: center;
    letter-spacing: 2px;
    
}

.contentgame{
    width: 75%;
    height: 98.5%;
    float: right;
    display: contents;
}

.main{
    position: relative;
}

.report{
    position: absolute;
    top: 10px;
    right: 10px;
}

.brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20vh;
}

.brand h1{
    padding-bottom: 1rem;
    padding-top: 3rem;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 5px;
    background: url('http://i.giphy.com/VQ2XbYu2ITUbK.gif');
    background-size: cover;
    background-repeat: norepeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infogame{
    text-align: center;
    max-width: 80%;
    margin: auto;
    display: -webkit-box;
}

.gameleave{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.gamemid{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.gamejoin{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.gameresult{
    text-align: center;
}

.place{
    padding-top: 60px;
    margin: 50px 70px;
	padding: 45px 25px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	overflow: hidden;
	color: #000000;
}

.place:hover:after{
    background: black;
}

.place span{
    position: relative;
	z-index: 3;
	line-height: 30px;
	font-weight: 600;
}

.place:hover span{
    color: white;
}

.place:before{
    content: "";
	position: absolute;
	top: -200px;
	right: -200px;
	bottom: -200px;
	left: -200px;
	z-index: 1;
	margin: auto;
	background: linear-gradient(to bottom, rgba(255,211,100,1) 0%, rgba(255,215,115,1) 49%, rgba(254,196,61,1) 50%, rgba(214,157,23,1) 51%, rgba(255,231,171,1) 100%);
    animation:spin 4s linear infinite;
}

.place:after{
    content: "";
	top: 5px;
	right: 5px;
	left: 5px;
	bottom: 5px;
	margin: auto;
	z-index: 2;
	display: block;
	background: #ffffff;
	position: absolute;
}

@keyframes spin { 
    100% 
    {
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
    }
}

.gameresult{
    display: -webkit-box;
}

.tablegame{
    margin-top: 50px;
    height: 150px;
    min-width: 90%;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.tablegame:before{
    content: "";
	position: absolute;
	top: -700px;
	right: -700px;
	bottom: -700px;
	left: -700px;
	z-index: 1;
	margin: auto;
	background: linear-gradient(to bottom, rgba(255,211,100,1) 0%, rgba(255,215,115,1) 49%, rgba(254,196,61,1) 50%, rgba(214,157,23,1) 51%, rgba(255,231,171,1) 100%);
    animation:spin 4s linear infinite;
}


.tablegame:after{
    content: "";
	top: 5px;
	right: 5px;
	left: 5px;
	bottom: 5px;
	margin: auto;
	z-index: 2;
	display: block;
	background: url('https://www.goldenfate.net/template/default/gfx/bg-pattern-big.jpg');
	position: absolute;
}

.tablegame .result{
    text-align: center;
    color:white;
    z-index: 3;
    position: relative;
    display: table;
    margin-top: 2rem;
    width: 900px;
    font-size: 18px;
}

.tablegame .name{
    text-align: center;
    color:white;
    z-index: 3;
    position: relative;
    width: 50%;
}

.tablegame .score{
    text-align: center;
    z-index: 3;
    position: relative;
    width: 10%;
}

.avatar{
    height: 110px;
    width: 110px;
    background: black;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: auto;
    margin-bottom: 30px;
}

.empty{
    position: absolute;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.beforeavatar{
    background: #ffffff;
    position: absolute;
    display: block;
    top: 5;
    bottom: 5;
    left: 5;
    right: 5;
    border-radius: 100%;
    overflow: hidden;
    /*border: 2px solid goldenrod;*/
}

.beforeavatar:before{
    content: "";
	position: absolute;
	top: -200px;
	right: -200px;
	bottom: -200px;
	left: -200px;
	z-index: 1;
	margin: auto;
	background: linear-gradient(to bottom, rgba(255,211,100,1) 0%, rgba(255,215,115,1) 49%, rgba(254,196,61,1) 50%, rgba(214,157,23,1) 51%, rgba(255,231,171,1) 100%);
    animation:spin 4s linear infinite;
}

.beforeavatar:after{
    content: "";
	top: 3px;
	right: 3px;
	left: 3px;
	bottom: 3px;
	margin: auto;
	z-index: 2;
	border-radius: 50%;
	background: url(https://www.goldenfate.net/template/default/gfx/bg-pattern.jpg);
	position: absolute;
}

.playerprice{
	position: relative;
	overflow: hidden; 
	z-index: 3;
	margin-bottom: 40px;
	border-radius: 10px;
}

.playerprice:before{
    content: "";
	position: absolute;
	top: -200px;
	right: -200px;
	bottom: -200px;
	left: -200px;
	z-index: 1;
	margin: auto;
	background: linear-gradient(to bottom, rgba(255,211,100,1) 0%, rgba(255,215,115,1) 49%, rgba(254,196,61,1) 50%, rgba(214,157,23,1) 51%, rgba(255,231,171,1) 100%);
    animation:spin 4s linear infinite;
}

.playerprice:after{
    content: "";
	top: 3px;
	right: 3px;
	left: 3px;
	bottom: 3px;
	margin: auto;
	z-index: 2;
	border-radius: 10px;
	background: url(https://www.goldenfate.net/template/default/gfx/bg-pattern.jpg);
	position: absolute;
}

.playerprice span{
    color: white;
    z-index: 4;
    position: relative
}

.pricetext{
    width: 100%;
    font-size: 20px;
    margin-top: .8rem;
    margin-bottom: .8rem;
}

/*support*/

.mainsupport{
    background-color: #191b1af5;
    display: flow-root;
    border-radius: 3rem;
    margin: 50px;
    padding: 2rem;
    box-shadow: 0px 0px 20px 0px #afdfa6;
}
.halfsupport{
    float: left;
    width: 50%;
    padding: 2rem 1rem;
}

.h3faq {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    font-weight: 300;
}

.wrap {
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.2), inset 0px 3px 1px -2px rgba(255, 255, 255, 0.4), inset 0px 1px 5px 0px rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

.panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}

.panel:last-child {
    border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-heading {
    background-color: #313c3bd4;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}

.panel-title a {
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}

.panel-body {
    color: transparent;
	background: -webkit-linear-gradient(left, rgba(255,232,173,1) 0%, rgba(255,232,173,1) 0%, rgba(230,170,30,1) 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
}

.panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}

/* #bs-collapse icon scale option */

.panel-heading a:before {
    content: '\e146';
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    font-size: 24px;
    transition: all 0.5s;
    transform: scale(1);
}

.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#bs-collapse .panel-heading a:after {
    content: ' ';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: scale(0);
    transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
    content: '\e909';
    transform: scale(1);
    transition: all 0.5s;
}

/* #accordion rotate icon option */

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}

#accordion .panel-heading a:before {
    content: '\e316';
    position: absolute;
    font-family: 'Material Icons';
    right: 16px;
    top: 10px;
    transform: rotate(0deg);
    transition: all 0.5s;
}

#accordion .panel-heading .active a:before {
    transition: all 0.5s;
}
    

#accordion .panel-heading .collapsed:before {
    content: '\e316';
    position: absolute;
    font-family: 'Material Icons';
    transform: rotate(180deg);
    transition: all 0.5s;
}

@media (max-width: 768px)
{
    .navbar-dark .navbar-brand{
        font-size: 30px;
        height: 71px;
        padding-top: 0.9rem;
    }

    .mycontainer{
        flex-direction:column;
        padding: 1rem;
        padding-bottom: 2.5rem;
    }
    
    .homeleft h1, .homeright h1{
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-size: 1.5rem;
    }
    
    .homeleft h4, .homeright h4{
        font-size: 0.7rem;
    }
    
    .h4top{
        padding-top: 0.5rem;
    }
    
    .h4down{
        padding-bottom: 0.5rem;
    }
    
    .mycontainer .button{
        height: 25px;
        width: 50%;
        font-size: 11px;
        padding: 0px;
    }
    
    .mycontainer br{
        display: none;
    }
    
    .gamefree{
        margin-right: 0rem;
        padding-bottom: 1rem
    }
    
    .gameresult{
       padding-top: 2rem;
       padding-bottom: 2rem;
    }
    
    .place{
        width: 445px;
    }
    
    .tablegame .result{
        max-width: 700px;
    }
    
    .jumbotron.showgame{
        display: none;
    }
    
    .jumbotron.showgame.bottom{
        display: inline-block;
        margin-bottom: 5px;
        float: left;
        min-height: auto;
        width: auto;
        margin: 5px 5px 61px 5px;
    }
    
    .halfsupport {
        float: none;
        width: 100%;
    }
    
}

@keyframes blink 
{
    0% {
      opacity: .2;
    }

    20% {
      opacity: 1;
    }

    100% {
      opacity: .2;
    }
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .5s;
}

.saving span:nth-child(3) {
    animation-delay: .9s;
}

.modal{
    top: 7rem;
}

.modal-open {
  padding-right: 0px !important;
  /*overflow: inherit;*/
  overflow-y:scroll;
}

.modal-content{
  background-color: #e9e9e9c7;
  border-radius: 2rem;
  max-width: 700px;
  border: solid 2px #88888859;
  background-image: url('https://www.goldenfate.net/template/default/gfx/bg-pattern-big.jpg')
}

.modal-content .container{
  max-width: 500px
}

.modal-lg{
  align-items: center;
  justify-content: center;
  display: flex;
}

/*.show{*/
/*    padding-top: 0px!important;*/
/*    padding-right: 0px!important;*/
/*}*/

.leftshop{
    float: left;
    width: 25%;
    min-height: 98.5%;
}

.leftshop .jumbotron{
    height: 100%;
    background: #191b1af5;
    border: 1px solid white;
    padding: 0rem;
}

.logo{
    text-align: center;
}

.logoshop{
    max-height: 150px;
    max-width: 200px;
    padding: 15px 15px;
}

.categoryshop{
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    color: gray;
}

.middleicon{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.categoryshop li{
    list-style: none;
    cursor: pointer;
}

.categoryshop li:hover{
    background: #4d52504a;
    color: white;
}

.rightshop{
    float: right;
    width: 75%;
    padding-bottom:3.5rem;
}

.product{
 max-height:250px;
 width: 100%;
 background-color:white;
 text-align:center;
 color:black;
display: flex;
padding: 10px;
margin:10px;
border-radius:10px;
}

.list{
    display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  position: relative;
}

.imgshop{
    width:100%;
    height:130px;
}

.nameproduct{
    padding-top:1rem;
}

.productv2{
 position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: .2s ease-in;
}

.list:hover .productv2{
    opacity:1;
    cursor:pointer;
    background-color: #ffffff85;
    height:75%;
}