body{
  overflow-y:scroll;
  padding-top: 5.5rem;
  background-image: url('https://www.goldenfate.net/template/default/gfx/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  position: relative;
  margin: 0;
  padding-bottom: 3.5rem;
  padding-right: 0 !important
}

::-webkit-scrollbar{
  width: 4px;
  background: linear-gradient(to bottom, #f2994a, #f2c94c);
}

::-webkit-scrollbar-thumb{
  background-color: red;
}

.navbar-dark .navbar-brand{
  position: absolute;
  left: 50%;
  display: block;
  transform: translate(-50%);
  text-align: center;
  position: relative;
  display: block;
  color: gold;
  font-family: 'Unlock', cursive;
  /*margin-top: 1rem;
  margin-bottom: 1rem;*/
  /*font-family: 'Black Han Sans', sans-serif;*/
  font-family: "Arial", sans-serif;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    	color: #3d3d3d;
    	  text-shadow: 
    	  	0 -1px 0 #858585,
              
               
               0 1px 10px rgba(0,0,0,.6),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.2),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 7px 10px rgba(0,0,0,.25),
               0 15px 10px rgba(0,0,0,.2),
               0 25px 15px rgba(0,0,0,.15);
    }
}

.navbar{
  min-height: 5.5rem;
}
.navbar .nav{
  margin-right: -100px;
}

.navbar-dark .navbar-nav .nav-link{
  margin-left: 5rem;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
}

.navbar-collapse{
  margin-left: -17rem;
  margin-right: 5rem;
}
.show{
  margin-left: auto;
}

.bg-dark{
  border-image: linear-gradient(to left, yellow, red, yellow);
  border-image-slice: 1;
  border-bottom: 1px solid;
  background-color: #252525!important;
  padding-right: 0px !important;
  position: fixed;
  background-image: url("https://www.goldenfate.net/template/default/gfx/bg-pattern-big.jpg")
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  color: gold;
}

.footer{
  border-top: solid 1px transparent;
  border-image: linear-gradient(to left, yellow, red, yellow);
  border-image-slice: 1;
  background-color: #252525;
  position: absolute;
  display: block;
  width: 100%;
  height: 3.48rem;
  padding-right: 0px !important;
  background-image: url("https://www.goldenfate.net/template/default/gfx/bg-pattern-big.jpg");
}
.footer p {
  color: rgb(255, 255, 255);;
  margin: 1rem 1rem;
  font-size: 13px;
}

.containe{
  width: 100%;
  height: 100%;
  display: flex;
}

.content{
  display: contents;
  justify-content: center;
  align-items: center;
}

.containe .left, .right{
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.containe .left{
/*  border: 3px double ;
  border-image: linear-gradient(to left, red, yellow);
  border-image-slice: 1;*/
  transition: all 1s ease;
  flex: 1;
  height: 100%;
  align-items: center;
  background-image: url('https://www.goldenfate.net/template/default/gfx/background.jpg');
}

.containe .left:hover {
  transition: all 1s ease;
  flex: 1.3 !important;
}

.containe .right{
  /*border: 3px double ;
  border-left: 2px;
  border-image: linear-gradient(to right, red, yellow);
  border-image-slice: 1;*/
  transition: all 1s ease;
  flex: 1;
  height: 100%;
  align-items: center;
  background-image:  url('https://www.goldenfate.net/template/default/gfx/background.jpg');
}

.containe .right:hover {
  transition: all 1s ease;
  flex: 1.3 !important;
}

.button , .button.containe{
  border: 5px solid #ebebaf30;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  width: 230px;
  height: 50px;
  color: black;
  content: "";
  padding: 5px;
  text-align: center;
	display: inline-block;
	text-decoration: none;
  border-radius: 30px;
	background: linear-gradient(to bottom, rgba(255,232,173,1) 0%, rgba(255,232,173,1) 23%, rgba(230,170,30,1) 77%, rgba(230,170,30,1) 100%);
	transition: all 1000ms ease-in-out;
}

.button.all{
  min-width: 100%
}

.button:hover{
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 1.4s ease;
  color: black;
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(230,170,30,1) 0%, rgba(230,170,30,1) 23%, rgba(255,232,173,1) 77%, rgba(255,232,173,1) 100%);
}

@media screen and (max-width: 768px)
  {
    .containe{
      flex-direction: column
    }
    .Rtable{
      flex-direction: column
    }
  }

.containe .right h1{
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 5rem;
  text-align: center;
  color: rgb(253, 211, 101);
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url('http://i.giphy.com/VQ2XbYu2ITUbK.gif');
  background-size: cover;
  background-repeat: norepeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.containe .left h1{
  	/*border-top: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;*/
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 5rem;
  text-align: center;
  color: rgb(253, 211, 101);
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url('http://i.giphy.com/VQ2XbYu2ITUbK.gif');
  background-size: cover;
  background-repeat: norepeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.containe .left h4, .right h4{
  text-align: center;
  font-size: 1.5rem;
}

.containe .h4top{
  border-top: 6px double #ba0e0e;
	padding-top: 2rem;
	color: transparent;
	background: -webkit-linear-gradient(bottom, rgba(255,232,173,1) 0%, rgba(255,232,173,1) 0%, rgba(230,170,30,1) 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containe .h4down{
  border-bottom: 6px double #ba0e0e;
	padding-bottom: 2rem;
		color: transparent;
	background: -webkit-linear-gradient(top, rgba(255,232,173,1) 0%, rgba(255,232,173,1) 0%, rgba(230,170,30,1) 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
    
.jumbotron.gra {
  background-color: #3e3e3e96;
  text-align: center;
}
.jumbotron h2, h4{
  font-family: 'Playfair Display', serif;
}

.game{
  display: inline-block
}

.game1{
  display: inline-block;
  margin-right: 13rem
}

.modal{
  top: 15rem;
}

.modal-open {
  padding-right: 0px !important;
  /*overflow: inherit;*/
  overflow-y:scroll;
}

.modal-content{
  background-color: #e9e9e9c7;
  border-radius: 2rem;
  max-width: 700px;
  border: solid 2px #88888859;
  background-image: url('https://www.goldenfate.net/template/default/gfx/bg-pattern-big.jpg')
}

.modal-content .container{
  max-width: 500px
}

.modal-lg{
  align-items: center;
  justify-content: center;
  display: flex;
}

.Rtable {
  border-spacing: 1px 4px;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  padding-bottom: 5rem;
  /*font-family: 'Aref Ruqaa', serif;*/
  display: table;
    width: 100%;
}
.Rtable-cell {
  flex-grow: 1;
  
  padding: 0.4rem 0.2rem;
  overflow: hidden; 
  list-style: none;
  border-radius: 10px;
  
    border: solid 4px #94767652;
 }
 
 .Rtable-cell.middle{
   color: green;
   font-size: 20px;
   width:30%;
 }
 .Rtable-cell.p{
   width: 30%
 }
 .Rtable-cell.left{
   width: 40%
 }

table{
  border-collapse: inherit;
}

/* T/* Table column sizing
================================== */
/*.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 10.6%; }*/


.testt:nth-child(even) {
    background-color: #ffffffdb;
    color: black
}
.testt{
  background-color: #1b2127b3;
  cursor: pointer;
  color: white;
  
    border: solid 4px #94767652;
}

tr:hover{
  color: black;
  background: linear-gradient(to bottom, rgba(230,170,30,1) 0%, rgba(230,170,30,1) 23%, rgba(255,232,173,1) 77%, rgba(255,232,173,1) 100%);
}

th{
  text-align: center
}
hr{
  background-color: rgba(255,232,173,1);
}

.jumbotron.home{
  width: 100%;
  position: absolute;
  background-color: #e9ecef21;
}

/*widok gry*/

.int{
  margin-bottom: 0rem;
  min-height: 100%;
  border-radius: 0rem;
  width: 100%;
  background-color: #3e3e3e96;
}

.h2int{
  text-align: center;
  letter-spacing: 5px;
}

.viewgame .row{
  margin-left: 0px;
  margin-right: 0px
}

.viewgame .row .col-md-3{
  padding: 0rem 0rem;
}
.tablegame{
  border:3px solid goldenrod;
  margin-top: 80px;
  height: 150px;
  width: 100%;
  background-image: url('https://www.goldenfate.net/template/default/gfx/bg-pattern-big.jpg')
}
.main{
  height: 100%;
  width: 100%;
  padding: 0rem 0rem;
}

.report{
  position: absolute;
  top: 10px;
  right: 10px;
}

.brand{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 25vh;
}

.brand h1{
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 3rem;
  text-align: center;
  color: rgb(253, 211, 101);
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url('http://i.giphy.com/VQ2XbYu2ITUbK.gif');
  background-size: cover;
  background-repeat: norepeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.infogame{
  text-align: center;
}

.gamemid{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.place{
  display: inline-block;
  vertical-align: middle;
  padding: 40px;
  box-sizing: border-box;
  width: 345px;
  height: 150px;
  background-color: white;
  margin: 50px 50px;
  border: solid 5px transparent;
  border-image: linear-gradient(to left, yellow, red, yellow);
  border-image-slice: 1;
}

.place:hover{
  background-color: black;
}

.gameleave{
  display: contents;
}

.gamejoin{
  display: contents;
}

/*support*/

.uu{
  background-color: #80808080;
  margin: 10px 10px;
  display: flow-root;
  border-radius: 5px;
  
}
.oo{
  float: left;
  width: 50%;
  padding: 2rem 1rem;
}

@media (max-width: 600px)
{
.uu .oo {
    float: none;
    width: 100%;
  }
}

.h3faq {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  font-weight: 300;
}

.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #009688;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  color: transparent;
	background: -webkit-linear-gradient(left, rgba(255,232,173,1) 0%, rgba(255,232,173,1) 0%, rgba(230,170,30,1) 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
#accordion .panel-heading a:before {
    content: '\e316';
    position: absolute;
    font-family: 'Material Icons';
    right: 16px;
    top: 10px;
    transform: rotate(0deg);
    transition: all 0.5s;
}
#accordion .panel-heading .active a:before {
  transition: all 0.5s;
}
    

#accordion .panel-heading .collapsed:before {
    content: '\e316';
    position: absolute;
    font-family: 'Material Icons';
    transform: rotate(180deg);
    transition: all 0.5s;
}